[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
root = true

# Bower
[.bowerrc]
indent_style = space

# JavaScript & JSON
[*.{js,json}]
indent_style = space

# PHP
[.php]
insert_final_newline = true