/*
 * Copyright © 2014 - 2016 Kristian Matthews. All rights reserved.
 */

/**
 * Core.
 */

html,
body {
	height: 100%;
}

body {
	padding-top: $navbar-padding-vertical * 8;
	width: 100%;
	background-color: $brand-primary;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: $gray-lightest;
}

.row {
	@include make-row();
}