/*
 * Copyright © 2014 - 2016 Kristian Matthews. All rights reserved.
 */

/**
 * Quiz.
 */

.row-quizzes {
	@include make-row();
	@extend .row;
}

.row-quiz-code {
	@include make-row();
	@extend .row;
}

.col-quiz-code {
	@include make-col();
	@include make-col-span(12);

	@include media-breakpoint-up(sm) {
		@include make-col-span(10);
		@include make-col-offset(1);
	}

	@include media-breakpoint-up(md) {
		@include make-col-span(8);
		@include make-col-offset(2);
	}

	@include media-breakpoint-up(lg) {
		@include make-col-span(6);
		@include make-col-offset(3);
	}

	@include media-breakpoint-up(xl) {
		@include make-col-span(4);
		@include make-col-offset(4);
	}

	input {
		@extend .form-control;
		@extend .form-control-lg;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: $spacer-y;
	}

	input::placeholder {
		text-transform: none;
		letter-spacing: normal;
	}

	button {
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-lg;
	}
}

.quiz {
	@extend .text-xs-center;

	h1 {
		@extend .display-3;
	}

	h2 {
		@extend .display-4;
	}

	p {
		@extend .lead;
	}

	.btn-start {
		@extend .btn-primary;
		@extend .btn-lg;
	}

	.btn-next {
		@extend .btn-primary;
		@extend .btn-lg;
	}

	.quiz,
	.question,
	.score {
		transition-duration: 0.5s;
		transition-property: opacity;

		&.ng-hide {
			opacity: 0;
		}
	}

	.quiz {
		z-index: 1;
	}

	.question {
		z-index: 2;
	}

	.answers {
		@include make-row();
	}

	.answer {
		@include make-col();
		display: flex;
		margin-bottom: $spacer-y;
		flex-flow: row wrap;

		&.correct {
			.btn {
				@extend .btn-success;
			}
		}

		&.incorrect {
			.btn.active {
				@extend .active;
				@extend .btn-danger;
			}
		}

		.btn {
			@extend .btn-primary;
			@extend .btn-lg;
			@extend .btn-block;
			display: flex;
			flex-direction: column;
			white-space: normal;
			flex: 1 0 0;
			justify-content: center;
		}
	}

	.answer-1 {
		@include make-col-span(12);
	}

	.answer-2 {
		@include make-col-span(12);

		@include media-breakpoint-up(sm) {
			@include make-col-span(6);
		}
	}

	.answer-3 {
		@include make-col-span(12);

		@include media-breakpoint-up(sm) {
			@include make-col-span(4);
		}
	}

	.answer-4 {
		@include make-col-span(12);

		@include media-breakpoint-up(sm) {
			@include make-col-span(6);
		}

		@include media-breakpoint-up(md) {
			@include make-col-span(3);
		}
	}

	.score {
		z-index: 3;
	}
}