/*
 * Copyright © 2014 - 2016 Kristian Matthews. All rights reserved.
 */

/**
 * Variables.
 */

// Colors
$brand-primary: #541B84;
$brand-faded: hsla(hue($gray-lightest), saturation($gray-lightest), lightness($gray-lightest), 0.8);

$enable-flex: true;

$hr-border-color: $brand-faded;

// Tables
$table-bg-accent: hsla(hue($gray-lightest), saturation($gray-lightest), lightness($gray-lightest), 0.2);
$table-bg-hover: hsla(hue($gray-lightest), saturation($gray-lightest), lightness($gray-lightest), 0.2);
$table-bg-active: hsla(hue($gray-lightest), saturation($gray-lightest), lightness($gray-lightest), 0.2);

// Modals
$modal-content-bg: $brand-faded;
$modal-content-border-color: $brand-faded;
$modal-backdrop-opacity: 0.8;

// Icons
$fa-css-prefix: icon;